<!------------------------------------------------Header ----------------------------------------------->

<div class="row" style="margin-top: 0px; ">

    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1><span style="font-size: 55px; font-style: bold; color: white">Code Share</span><!--
                <li style="padding:0px;"><a href> <select class="snapM" ng-model="codeShareConnect.to" style="background-color: rgba(0,0,0,.6); border: none; width: 100%; height: 25px; padding: 10px; border-radius: 0; font-size: 15px;" >
                    <option ng-repeat="users in userNames">{{ users.name }}</option>
            </select></a> </li>
              
                <button ng-show="updateEffortShow" style="background-color: transparent; border: none;" ng-click="UpdateEffort()">
                    <span class="glyphicon glyphicon-ok-circle" style="font-size:20px; margin-left:2px; color:white;"></span>
                </button></span>-->
        </h1>
        <hr/>
    </div>
</div>

<!------------------------------------------------codeshare box----------------------------------------------->

<div class="row" style="margin-top: 50px; margin-bottom:75px;">
    <div class="col-xs-12 col-md-8 col-md-offset-1">
        <textarea type="textarea" class="form-control" rows="10" style="background-color: rgba(0,0,0,.6); border: none; width: 600px; height: 400px;  padding: 25px; font-size: 15px; color:white;" placeholder="CodeShare" ng-model="codeShareBox" ng-change="CodeShareBoxChange()"></textarea>


    </div>
</div>