<!------------------------------------------------Header ----------------------------------------------->

<div class="row" style="margin-top: 0px; ">

    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1><span class="headerTag">AgileX</span></h1>
        <hr/>
    </div>
</div>

<!------------------------------------------------Header ----------------------------------------------->

<div class="row" style="margin-top: 0px; ">
<div class="col-xs-12 col-md-5 col-md-offset-2">
<div class="homeDescribe img-rounded">
    <h2>AgileX, a project managment tool</h2><hr/>
    <H5>I built AgileX as a school project. It's currently one and a half weeks in development.<br/>
    It's built with html / css / javascript / angular / node / express / and mongodb.<br/>
    It has many features and still has many to be added.<br/>
    </H5>
    <h3>Features</h3><hr/>
    <h6>Messaging | send, reply, mark as urgent, notification of new messages, and delete.</h6>
    <h6>Add Projects and Stories | choose contributing users, effort for each project, notes, etc...</h6>
    <h6>Analytics | view progress on stories and projects.</h6>
    <h6>Login / Registration.</h6>
    <h6>Company Info | relevant news and info from various api's.</h6><hr/>
    
    <h5>The project is still in development and has many features to be added</h5><hr/>
    <h6>Calender | add events, rsvp to events, etc...</h6>
    <h6>CodeShare | Live pair-programming from anywhere.</h6>
    <h6>Git Hub Integration | Post to github using their api.</h6>
    <h6>Profile's | add pictures, information and status updates.</h6><hr/>
    
    <h5>I've made most of the features from scratch.<br/> 
    Multi-select list's, graphs, and the CodeShare / Calender programs that are in development.<br/>
    I've had many challenges along with many wins. 
    The css and styling has proven the most dificult and I've found I really like working with the mongoDB database.<hr/>
    I'm excited to see how far I can take this project.<br/>
    Thanks for you're time and feedback.</h5><hr/>
    <h5>Matt Linville-Engler</h5>
    

</div>
    
    </div>
</div>